<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">

    <title>medUPA</title>
</head>
<body>
    <header>
        <div class="header">
            <h1><a href="/">med<span>UPA</span></a></h1>
        </div>
    </header>
    
    <section class="main">
        <div id="pdfGera">
                <h1>Pdf Gerado! Acesse aqui</h1>
                <a id="links" href="/pdfGenerate">Acessar Pdf</a>
        </div>
    
    </section>
</body>
</html>